.Account-top-bg, .Account-bot-bg {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #AAAAAA;
}

.Account-bg{
    margin: 30px;
    width: 100%;
    padding-left: 250px;
}

.css-pdct74-MuiTablePagination-selectLabel, .css-levciy-MuiTablePagination-displayedRows {
    margin: 0;
}

.css-j3yc8r-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: #ab003c !important;
}

.css-cyspv6-MuiButtonBase-root-MuiIconButton-root:hover{
    background-color: #faa005 !important;
}

.css-1yjjitx-MuiSwitch-track {
    background-color: green !important;
    opacity: 1 !important;
}

.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: white !important;
}

.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: red !important;
}