.DMZ-top-bg, .DMZ-bot-bg {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DMZ-bg{
    margin: 30px;
    width: 100%;
    padding-left: 250px;
}

.DMZTopThreeCards{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dmz-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start; /* Ensures items start from the left */
}

.dmz-container-frozen {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start; /* Ensures items start from the left */
}

.dmz-box {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAF9F6;
    min-width: 150px;
}

.dmz-box-frozen{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAF9F6;
    min-width: 150px;
}

.mainZoneBox {
    min-height: 560px;
    max-height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 15px;
    border: 1px solid;
}

.DMZ-table-bg{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid;
}

::-webkit-scrollbar {
    border-radius: 20px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}