.container-fluid {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.adminNavbar {
    height: 100%;
}

.main-dashboard {
    margin: 30px;
    width: 100%;
    padding-left: 250px;
}

.main-dashboard .title {
    font-size: 40px;
}

.main-dashboard .KPI {
    margin: 20px 0 20px 0;
}

#graph-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-dashboard .line {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin-right: 20px;
    flex: 60%;
}

.main-dashboard .line-1 {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    flex: 40%;
}

#graph-row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-dashboard .line-2 {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    flex: 100%;
}
