/* Sidebar styles */

.menu-item {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #0055a5;
  cursor: pointer;
}

.menu-item i {
  margin-right: 10px;
}

/* Main content styles */
.main-content {
  margin-left: 220px; /* Adjust based on the sidebar width */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
}

/* SummaryComponent styles */
.geoSummary{
  padding-left: 250px;
  margin: 30px;
  height: 100px;
  width: 900px;
}


.geo-summaryContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.geo-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
}

/* FlaggedAccountsTable styles */
.admingeo-container {
  margin: 30px;
  width: 100%;
  padding-left: 250px;
}

.toprow-container{
  display: flex;
  flex-direction: row; 
}

.geo-acc-table {
  padding: 10px;
  border: 1px solid #ccc; /* Optional: for visual separation */
}

.geo-container-activeAcc{
  max-height: 440px;
}

.rowacc{
  padding-top: 10px;
}

.geo-table {
  width: 800px;
  border-collapse: collapse;
}

.geo-th, .geo-td {
  border-bottom: 1px solid #ddd;
  padding: 10px;

}

.geo-th {
}

.accountTables {
  margin-top: 20px;
}

.location-bg{
  margin: 30px;
  width: 100%;
  padding-left: 250px;
}